html{
    width:100%;
}
body{
    min-height:100vh;
    background-image:url(doska-6.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width:100%;
    height:100%;
    box-sizing: border-box;
    position:static;
    margin:0;
    padding:0;
}

.block1{
    dispay:flex;
    width:100%;
    font-size:180%;
}
header{
    position:relative;
    font-size:150%;
    line-height:200%;
}
h1, h2{
    position:relative;
    top:50px;
    margin:0;
    padding:0;
    text-align: center;
    color: #ffffff;
    font-style: italic;
    text-shadow:
      0 0 5px #fff,
      0 0 40px #fff,
      0 0 80px rgb(145, 142, 142),
      0 0 100px rgb(131, 100, 100);
}
main{
    margin:0;
    padding:0;
}
.container { 
    padding:0 0.2vw;
    margin: 30px 0 0 0;
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
}
.container div {
    font-size: 120%;
    color: white;
    opacity:90%;
    line-height: 100%;
  }
.block2{
    position:relative;
    top:0;
    left:0;

    margin: 0 0 0 30px;
    display: flex;
    flex-direction: column;
}

.education{
    opacity:100%;
}
.work-experience{
    opacity:100%;
}

.allskills{
    position:relative;
    top:-20px;
    opacity:100%;
    display: flex;
    flex-wrap: wrap;
    /*border: 1px solid #000;*/
}
h4{
    margin:25px 0 10px 0;
}
.allskills div{
    color: white;
    opacity:100%;
    font-size:100%;
    margin-right: 30px;
}
.language{
    padding: 0 0 0 20px;
}
p{
    line-height:150%;
}
ul,p{
    margin:0;
}


.block3{
    /*background: rgb(236, 119, 201);*/
    margin: 0px 0px;
    display: flex;
    flex-direction: column;
    /*border: 1px solid #000;*/
}
.photo {
    padding: 0 0 0 0px;
    width:65%;
    opacity: 1;
}
.contacts{
    position:relative;
    left: 20px;
    font-size:150%;
    opacity:80%;
}
.contacts p{
    line-height: 120%;
}
h3{
    line-height:100%;
    margin:25px 0 10px 0;
}
h4{
    line-height:100%;
}
.link {
    position:relative;
    top:15px;
    width:100%;
    opacity: 1;
    display:flex;
    margin:0 0 100px 0;
}
.link div{
    width:10%;
    opacity: 1;
    line-height: 100%;
}
.links {
   position:relative;
   left:30px;
}
.links2 {
    position:relative;
    left:120px;
}
.llink:hover{
    z-index:10;
    transform:scale(1.5);
}