body{
    background-image:url(doska-6.jpg);
    /*background: #fc0;*/
    background-repeat: no-repeat;
    background-size: cover;
    width:1560px;
    height:740px;
    position:static;
    /*border: 1px solid #000;*/
}
main{
    height:600px;
}
.block1{
    position:relative;
    /*background: #fc0;*/
    right:-25px;
    top:25px;
    width:1100px;
    height:140px;
    padding: 0px;
    /*border: 1px solid #000;*/
}
.name{
    position:absolute;
    top:30px;
    left:450px;
    font-size:180%;
    color: #ffffff;
    opacity:60%;
    font-style: italic;
    line-height: 30%;
}
.block2{
    position:relative;
    /*background: rgb(185, 236, 119);*/
    right:-25px;
    top:25px;
    width:1100px;
    height:570px;
    padding: 0px;
    /*border: 1px solid #000;*/
}
.education{
    position:absolute;
    top: 10px;
    left:40px;
    font-size:150%;
    color: #ffffff;
    opacity:60%;
    line-height: 30%;
}
.work-experience{
    position:absolute;
    top:180px;
    left:40px;
    font-size:150%;
    color: #ffffff;
    opacity:60%;
    line-height: 30%;
}
.skills{
    position:absolute;
    top:350px;
    left:40px;
    font-size:150%;
    color: #ffffff;
    opacity:60%;
    line-height: 30%;
}
.it-skills{
    position:absolute;
    top:385px;
    left:400px;
    font-size:150%;
    color: #ffffff;
    opacity:60%;
    line-height: 30%;
}
.pwa{
    position:absolute;
    top:385px;
    left:750px;
    font-size:150%;
    color: #ffffff;
    opacity:60%;
    line-height: 30%;
}
.block3{
    position:relative;
    /*background: rgb(236, 119, 201);*/
    left:1125px;
    top:-690px;
    width:430px;
    height:550px;
    padding: 0px;
    /*border: 1px solid #000;*/
}
.photo {
    position:absolute;
    top:5px;
    left: 80px;
    width:78%;
    opacity: 0.5;
}
.contacts{
    position:absolute;
    top:380px;
    left:110px;
    font-size:150%;
    color: #ffffff;
    opacity:60%;
    line-height: 30%;
}
.block4{
    position:relative;
    /*background: rgb(115, 158, 199); */
    left:1125px;
    top:-690px;
    width:430px;
    height:160px;
    padding: 0px;
    /*border: 1px solid #000;*/
}
.links {
    position:absolute;
    top:10px;
    left:110px;
    width:10%;
    opacity: 1;
    line-height: 100%;
}
.links2 {
    position:absolute;
    top:10px;
    left:240px;
    width:10%;
    opacity: 1;
    line-height: 50%;
}